:root {
    --gradient: linear-gradient(90deg, #B76EB0, #6868AC);
}

body {
    background-color: #f7f0ec;
}

* {
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    overflow-x: hidden;
}


/*--- navigation bar ---*/

.navbar {
    margin-right: 20px;
    background: #f7f0ec;
}

.logo {
    margin: auto;
}

.nav-link,
.navbar-brand {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.nav-link {
    font-weight: bold;
    margin-right: 1em !important;
    font-size: 20px;
}

.nav-link:hover {
    color: #a0643a;
    box-shadow: rgba(0, 0, 0, );
}

.nav-link:focus {
    color: #7F4D3E;
    box-shadow: rgba(0, 0, 0, );
}

.navbar-collapse {
    justify-content: flex-end;
}

.btn {
    font-family: 'Comfortaa', cursive;
    padding: .7rem 3rem;
    font-size: 10px;
    color: #fff;
    background: var(--gradient);
    border-radius: 5rem;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.btn::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: -100%;
    background: #fff9;
    height: 150%;
    width: 20%;
    transform: rotate(25deg);
    z-index: -1;
}

.btn:hover::before {
    transition: .3s linear;
    left: 120%;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: bold;
    color: black;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:active {
    background-color: #f7f0ec !important;
    color: #a0643a;
}


/* Application form */

.appform {
    width: 800px;
    background-color: #6868AC;
    margin: auto;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
    margin-top: 50px;
    text-align: center;
}

.appform h1 {
    font-size: 30px;
}

.appli {
    background-color: #eee;
    width: 800px;
    margin: auto;
    margin-bottom: 33px;
    box-shadow: 25px 50px 50px -50px #a09a95;
    height: auto;
}

form {
    padding: 10px;
}

.ques-1 {
    margin-left: 150px;
    margin-top: 20px;
    width: 500px;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.option-1 {
    position: relative;
    left: 148px;
    top: 5px;
    line-height: 40px;
    width: 500px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 20px;
    color: #555;
    outline: none;
    overflow: hidden;
}

.ques-2 {
    margin-left: 150px;
    margin-top: 20px;
    width: 500px;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.option-2 {
    position: relative;
    left: 148px;
    top: 5px;
    line-height: 40px;
    width: 500px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 20px;
    color: #555;
    outline: none;
    overflow: hidden;
}

.list {
    margin-left: 150px;
    margin-top: 20px;
    width: 500px;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.list-pets {
    position: relative;
    left: 148px;
    top: 5px;
    line-height: 40px;
    width: 500px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 20px;
    color: #555;
    outline: none;
    overflow: hidden;
}

.sprayed {
    margin-left: 150px;
    margin-top: 20px;
    width: 500px;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.num_neutered {
    position: relative;
    left: 473px;
    top: -37px;
    line-height: 40px;
    width: 175px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.place {
    margin-left: 150px;
    margin-top: -20px;
    width: 500px;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.place-pets {
    position: relative;
    left: 365px;
    top: -35px;
    line-height: 40px;
    width: 280px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 20px;
    color: #555;
    outline: none;
    overflow: hidden;
}

.ques-3 {
    margin-left: 150px;
    margin-top: -20px;
    width: 500px;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.option-3 {
    position: relative;
    left: 148px;
    top: 5px;
    line-height: 40px;
    width: 500px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 20px;
    color: #555;
    outline: none;
    overflow: hidden;
}

.group {
    margin-left: 150px;
    margin-top: 20px;
    width: 500px;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.name-group {
    position: relative;
    left: 473px;
    top: -37px;
    line-height: 40px;
    width: 175px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.ques-4 {
    margin-left: 150px;
    margin-top: -20px;
    width: 500px;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.option-4 {
    position: relative;
    left: 360px;
    top: -35px;
    line-height: 40px;
    width: 290px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 20px;
    color: #555;
    outline: none;
    overflow: hidden;
}

.circumstances {
    margin-left: 150px;
    margin-top: -20px;
    width: 500px;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.list-circumstances {
    position: relative;
    left: 390px;
    top: -35px;
    line-height: 40px;
    width: 260px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 20px;
    color: #555;
    outline: none;
    overflow: hidden;
}

.vet {
    margin-left: 150px;
    margin-top: -30px;
    width: 500px;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.vet-details {
    position: relative;
    left: 148px;
    top: 5px;
    line-height: 40px;
    width: 500px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 20px;
    color: #555;
    outline: none;
    overflow: hidden;
    margin-bottom: 50px;
}

.pledge {
    margin-left: 58px;
    font-size: 18px;
}


/* #datepicker {
    position: relative;
    left: 239px;
    margin-top: -34px;
    margin-bottom: 40px;
    line-height: 40px;
    width: 300px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 20px;
    color: #555;
    outline: none;
    overflow: hidden;
    margin-left: 307px;
}
 */

.visit {
    margin-left: 100px;
    margin-top: -25px;
    width: 125px;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

#visit-datepicker {
    position: relative;
    left: 239px;
    top: -42px;
    line-height: 40px;
    width: 460px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 20px;
    color: #555;
    outline: none;
    overflow: hidden;
}

.btn {
    font-family: 'Comfortaa', cursive;
    padding: .7rem 3rem;
    font-size: 2rem;
    color: #fff;
    background: var(--gradient);
    border-radius: 5rem;
    margin-top: -20px;
    margin-left: 340px;
    cursor: pointer;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-bottom: 100px;
    top: 30px;
}

.btn::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: -100%;
    background: #fff9;
    height: 150%;
    width: 20%;
    transform: rotate(25deg);
    z-index: -1;
}

.btn:hover::before {
    transition: .3s linear;
    left: 120%;
}

.application-container .btn {
    font-size: 18px;
    text-align: center;
    margin-left: 320px;
}

#datepicker {
    margin-top: -35px;
    width: 20%;
    margin-bottom: 50px;
    margin-left: 370px;
    font-size: 20px;
}

#timepicker {
    margin-top: -35px;
    width: 20%;
    margin-bottom: 50px;
    margin-left: 370px;
    font-size: 20px;
}


/* Page Footer */

.footer {
    border-top: 2px solid #eee;
    background-color: #f7f0ec;
    color: #f7f0ec;
    font-size: 14px;
    padding: 60px 0 20px;
    font-family: 'EB Garamond', serif !important;
}

.row {
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.py-3 p {
    color: white;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 15px;
}

.bg-success {
    background-color: #6868AC !important;
}

.footer,
a {
    color: white;
    margin-top: 10px;
    margin-left: 0px;
    justify-content: center;
}

.footer h3 {
    color: #555;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 250px;
    margin-bottom: 20px;
}

.footer-col-3 {
    flex-basis: 12%;
    text-align: left;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #e5e5e5;
    height: 2px;
    margin: 20px 0;
}

.copyright {
    text-align: left;
    color: white;
}

a:hover {
    color: #E2B659;
    text-decoration: none;
}


/* Scroll To Top */

.arrow {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
}

.arrow a {
    height: 39px;
    width: 37px;
    text-align: center;
    background: #6868AC;
    display: block;
    border-radius: 3px;
}

.arrow a span {
    color: #f2f2f2;
    font-size: 25px;
    line-height: 39px;
    cursor: pointer;
}